<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav>
        <ul>
            <li><a href="/" title= "index">Mei He</a></li>
             <li><a href="/about" title= "about">About</a></li>
              <li><a href="/contact" title= "contact">contact</a></li>
               
        </ul>
  </nav>